<% layout('layout/boilerplate.ejs') %>


 <style>
    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    img:hover{
        transform: scale(1.1.2);
    }

    .name{
        width:300px;
    }
    a{
        text-decoration: none;
        color:blueviolet
    }
    a:hover{
        color:black;
    }
    .img{
        border-right: 2px solid violet;
    }
</style>
<ul>
    <% for(let applier of task.applier){%>
        <div class="row mb-3 mb-1" >
            <div class="col-2 offset-3 img"><a href="/account/<%=applier._id%>"><img src="<%=applier.image[0].url%>" class="img-thumnail" alt=""></a></div>
       <div class="col-2 mt-5 name"><h2 class="text-muted text-center"><a href="/account/<%=applier._id%>"><%=applier.username%></a></h2></div>
       <div class="col-2 mt-5"> <a href="/hired/<%=applier._id%>/<%=task._id%>" class="btn btn-success">HIRE</a></div>   
        </div>
    </div>  
        <%}%>
</ul>