<% layout('layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<style>

</style>
<div class="container my-5">
    <form action="/sortUser" " class="d-flex">
      <input class="form-control mx-3" name="username" style="border-radius: 20px;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info style="border-radius: 20px;" type="submit">Search</button>
      <% if(uniqueSkills.length){%>
        <div class="nav-item dropdown">
           <a class="nav-link dropdown-toggle"  style="color:black; border: 3px solid rgb(20, 159, 223); margin-left: 7px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           SKILLS
           </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <% for(let skill of uniqueSkills) {%>
                  <li> <a href="/sortskill/<%=skill%>" class="dropdown-item"><%=skill%></a> </li>
                <%}%>   
           </ul>
       </div>
         <%}%>
    </form>
    </div>
   
    <div class="container mt-2">
      <div class="team-boxed ">
          
          <div class="row people d-flex justify-content-center ">
             
              <% for(let f of feeds) {%>
                  <div class=" col-sm-12 col-md-6 col-lg-4 item">
                      <div class="box animate__animated animate__zoomIn"><img class="rounded-circle" src="<%=f.image[0].url%>" style="height: 140px;">
                          <h3 class="name"><%=f.title%></h3>
                          <p class="title"><%=f.domain %></p>
                          <p class="description" style="height: 110px;"><%=f.desc.substring(0,200) %>...</p>
                          <a href="/earn/<%=f._id%>">VIEW <%=f.title%></a>
                          
                        
              </div>
              </div>
              <%}%>
      </div>
      </div>
  </div>
    
    <a href="/tasks/new" class="float">
    <i class="fas fa-clipboard-list my-float"></i>
  </a>
  <a href="/earn/new" class="float" style="bottom:120px;">
    <i class="fa fa-plus my-float"></i>
</a>