<% layout('layout/boilerplate.ejs') %>
<link rel="stylesheet" href='/stylesheets/star.css'>
<style>
  .text{
    font-size: 30px;
  }
  .carousel-inner img{
    height: 500px;
    border-radius: 40px;
    border:5px solid rgb(20, 159, 223);
  }

</style>
<div class="container">
    <div class="row mb-5">
    <div class="col-lg-12  o">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% feed.image.forEach((img,i) => { %>
          <div class="carousel-item <%= i===0 ?'active' :'' %>">
            <img src="<%= img.url %>" class="d-block w-100" alt="...">
          </div>
          <% }) %>
        </div>
        <% if( feed.image.length > 1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <%}%> 
      </div>
      </div>
      </div>
    <div class="row">
      <h2 class="text-center display-3"><%=feed.title%></h2>
      <h3 class="text-center text-muted display-5"><%=feed.domain%></h3>
    </div>
    <div class="col-lg-10 offset-lg-1">
        <div class="card mb-3" >
            <div class="card-body">
                <div class="card-body">
                    <p class="text"><%=feed.desc%></p>

                  </div>
                  <h5>Company:<%=feed.location%></h5>
                  <h5 class="display-6">Posted by : <%=feed.author.username%></h5>
                  <h5 class="display-6">Duration : <%=feed.duration%></h5>
                  
                  <% if(currentUser && feed.author.equals(currentUser._id)){%>
                  "card-body">
                    <a href="/earn/<%=feed._id%>/edit" class="c<div class=ard-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/earn/<%=feed._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
                <%}%>
                </div>
</div>
</div>
    <div class="col-lg-6">
      <% if(currentUser) {%>
    <h2>LEAVE A REVIEW</h2>
    <form action="/earn/<%=feed._id%>/reviews" method="POST" class='mb-3 validate-form' novalidate>
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
              aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    <div class="mb-3">
      <label class="form-label" for="body">Review</label>
      <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
      <div class="valid-feedback">
        LOOKS GOOD
      </div>
    </div>
    <button class="btn btn-success">SUBMIT</button>
    </form>
    <%}%>
<% for(let review of feed.reviews){ %>
<div class="card mb-3">
    <div class="card-body">
      <p class="starability-result" data-rating="<%=review.rating%>">
        Rated: <%=review.rating%>stars
      </p>
      <h5 class="card-title mb-2">By:<%=review.author.username%><h5>
    <p class="card-body"> Review: <%= review.body %></p>
    <% if(currentUser && review.author.equals(currentUser._id)){%>
    <form action="/earn/<%=feed._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">
          DELETE
        </button>
      </form>
      <%}%>
  </div>
  </div>
  <%}%>
</div>
</div>
   
</div>